<h1>found new page</h1>

<form action="/landmarks/new" method="post">
  landmark[name]:<input name="landmark_name" value="name"><br>
  landmark[year_completed]:<input name="landmark_year_completed" value="year"><br>
  <button value="submit" name="Create New Landmark">Create New Landmark</button>
</form>
